services:
  api:
    image: api:v1
    build: .
    ports:
      - 8000:8000
    env_file: "./.env"
    # environment:
    #   - EXAMPLE_KEY=EXAMPLE_VALUE
    depends_on:
      - backend-DDBB

  backend-DDBB:
    image: postgres:16-alpine
    ports:
     - 5432:5432 # If we want to acces from the host using pgadmin
    environment:
      - POSTGRES_PASSWORD=user_password
      - POSTGRES_DB=ddbb_name
      - POSTGRES_USER=user
    volumes:
      - postgres-db:/var/lib/postgresql/data # depends on the postgres version
volumes:
  postgres-db: # THIS MAKES THE VOLUME ACCESIBLE FOR THE OTHER SERVICES/CONTAINERS
